[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=shortcuts
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=BVenom's Shortcuts Extension
Comment=Extension to set up scrolling shortcuts
